ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li:not(:last-child) {
    margin-bottom: 20px;
  }
  
  article {
    border: 1px solid rgb(68, 59, 59);
    border-radius: 10px;
    padding: 20px;
  
    display: flex;
    flex-direction: column;
  
    max-width: 250px;
    background-color: gray;
  }
  h6 { 
    position: absolute;
    right:1120px;
    top: 0;
  }
  
  p {
    margin: 0;
    font-size: 24px;
    color: dimgrey;
  }
  
  h2 {
    margin: 18px 0;
    font-size: 32px;
  }
  
  article > div {
    align-self: flex-end;
  }
  