body{
  margin:0;
}
.genre-card {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  background-color: #4daf64;
  color: white;
}

.genre-card:not(:last-child) {
  margin-bottom: 15px;
}

.genre-card > div {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.genre-card > div > a {
  color: white;
  font-weight: bold;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: auto;
  max-width: 100%;
}
.genre-card > img {
  border-radius: 50%;
  margin: 5px;
  border: none;
}  
h2{
  font-family: calibri;
}

img{
  border: solid black 1px;
  margin: 2px;
  padding: 0;
  display: flex;
}